* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  position: relative;
}

.slider-box {
  width: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  transition: transform 0.3s;
  cursor: pointer;
}

.slide {
  width: 100%;
  margin-right: 0;
  height: 180px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  /* background-color: tan; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
}

.slide.active .innerSlide {
  transform: scale(1.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}


.paging {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.paging button {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.paging button.active {
  color: #fff;
  background-color: #000;
}

.np {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.np button {
  width: 100px;
  height: 20px;
  background-color: orange;
  color: #FFF;
  position: absolute;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}